<div class="card employee-details" style="width: 18rem;">
    <img class="card-img-top" src="{{employeeDetails.photo}}" alt="Image">
    <div class="card-body">
      <h5 class="card-title">{{employeeDetails.firstName+ " " + employeeDetails.lastName}}</h5>
      <p class="card-text">{{"Employee Number:"+employeeDetails.id}}</p>
      <p class="card-text">{{"Date Of Joining: "+ employeeDetails.dateOfJoining }}</p>
      <p class="card-text">{{"Gender: " + employeeDetails.gender}}</p>
      <p class="card-text">{{"Project: " + employeeDetails.projectAssigned}}</p>
    </div>
  </div>