<div class="main-container">
  <nav class="navbar">
    <div class="container-fluid">
      <div class="navbar-collapse">
      <ul class="nav justify-content-center">
        <li class="nav-item" [routerLinkActive]="'active'">
          <a class="nav-link" routerLink="Home">Home</a>
        </li>
        <li class="nav-item" [routerLinkActive]="'active'">
          <a class="nav-link" routerLink="About">About</a>
        </li>
        <li class="nav-item" [routerLinkActive]="'active'">
          <a class="nav-link" [routerLink]="['Contact']">Contact</a>
        </li>
        <li class="nav-item" [routerLinkActive]="'active'">
          <a class="nav-link" routerLink="Courses">Courses</a>
        </li>
      </ul>
    </div>
  </div>
  </nav>

  <div class="component-container">
    <!-- <app-home></app-home>
    <app-about></app-about>
    <app-contact></app-contact>
    <app-courses></app-courses> -->
      <router-outlet></router-outlet>
  </div>
</div>