form{
    margin: 20px;
}
.ng-valid[required], .ng-valid.required  {
    border-left: 5px solid #42A948; /* green */
  }
  
.ng-invalid:not(form)  {
    border-left: 5px solid #a94442; /* red */
}

.form-group,.form-check{
    align-items: center;
    margin-bottom: 20px;
    width: 80%;
}

.form-message{
    text-align: center;
    color: green;
    font-weight: bolder;
}